@import "tailwindcss";

@theme {
  --color-primary: #00babc;
  --color-secondary: #2d2d2d;
  --color-accent: #f26b3a;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;
  --color-formation-ia: #8b5cf6;
  --color-border: #e5e7eb;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}

body {
  @apply bg-background text-text-main font-sans m-0;
}